body {
  margin-left: 20px;
  margin-top: 10px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

#loadingGif {
  height: 180px;
  width: 200px;
  margin: 0 auto;
  display: block;
}
/*#infoBox {
  height: 100px;
  width: 100px;
  border-width: 2px;
  border-color: black;
}*/