body {
  margin-left: 20px;
  margin-top: 10px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

#container {
  margin-top: 20px;
}

#sliderContainer {
  margin-bottom: 20px;
}

#time {
  vertical-align: middle;
}

#loadingGif {
  height: 180px;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.selected {
  border-color: blue;
  border-width: 10px;
}

#infoBox {
  border-width: 2px;
  border-color: black;
}